<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AvaSchedule</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/signin.css">
</head>
<nav class="navbar navbar-inverse bg-light">
  <div class="container">
    <span class="ava">AvaSchedule</span>
      <img src="/images/novo.iix" alt="" width="160" height="44">
  </div>
</nav>
<div style="margin-left: 40px;">
  <a href="/logado/selecionar" class="btn btn-outline-danger btn-sm">
    <img src="/images/icons/home.svg" alt="home" width="40" height="44">
  </a>
</div>
<body class="cinza">
  <main>
    <section class="text-center">
     
      <h1>Listagem de VM</h1>
<form action="" method="GET">
  <input type="text" value="<%= clienteSelecionado[0].nome %>" class="btn btn-outline-danger btn2" readonly>
  <input type="hidden" value="<%= clienteSelecionado[0].id %>" name="cliente_id">
  <input type="text" name="vm_azure" value="<%=vmSelecionada%>" class="btn btn-outline-danger btn2" placeholder="Buscar por VM Azure">

    <button type="submit" class="btn btn-outline-danger"><img src="/images/icons/search.svg"
            alt="Ícone de pesquisa"></button>
    <button type="button" class="btn btn-outline-danger">
        <a href="/logado/vm/criar">
        <img src="/images/icons/icon-create-vm.svg" alt="Create icon"></a></button>
</form>

    <div class="listing">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">VM Azure</th>
                <th scope="col">Environment</th>
                <th scope="col">System Operation</th>
                <th scope="col">Sunday</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thusday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Start mode</th>
                <th scope="col">Stop mode</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <% for( let vm of vms ) { %>
              <tbody>
                <tr>
                  <td>
                    <%= vm.vm_azure%>
                  </td>
                  <td>
                    <%= vm.environment%>
                  </td>
                  <td>
                    <%= vm.system_operation %>
                  </td>
                  <td>
                    <%= vm.sunday %>
                  </td>
                  <td>
                    <%= vm.monday %>
                  </td>
                  <td>
                    <%= vm.tuesday %>
                  </td>
                  <td>
                    <%= vm.wednesday %>
                  </td>
                  <td>
                    <%= vm.thursday %>
                  </td>
                  <td>
                    <%= vm.friday %>
                  </td>
                  <td>
                    <%= vm.saturday %>
                  </td>
                  <td>
                    <%= vm.start_mode %>
                  </td>
                  <td>
                    <%= vm.stop_mode %>
                  </td>
                  <td>
                      <a href="/logado/vm/editar/<%= vm.id%>">
                      <img src="/images/icons/edit.svg" alt="Ícone de edição">
                    </a>
                  </td>
                </tr>
              </tbody>
              <% } %>
          </table>
        </div>
      
      </div>
    </section>
  </main>
</body>
</html>